header {
	font-size: 15px;
	background-color: #181818;
	top:0px;
	left: 0px;
    	width: 100%;
    	text-align: left;
	color: yellowgreen;
	border-bottom: 2px solid yellowgreen;
	height: auto;
}

.block{
	display: block;
	width: 100%;
	height: 200px;
	position: relative;
}


.logo{
	display: inline;
	left: 20px;
	position: absolute;
	width: 250px;
	height: 150px;
	border-radius:50%;
	border: 1px solid yellowgreen;	
}

.left{
    float: left;
    white-space: nowrap;
    padding-left: 10px;
    padding-top: 30px;
    text-decoration: none;
    position: relative;
    width: 300px;
}

.right{
    float: right;
    white-space: nowrap;
    padding-right: 10px;
    text-decoration: none;
    position: relative;
    width: 100px;
    padding-top: 10px;
}


.first{
	display: block;
	position: relative;
	width:1000px;
	top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	border: 2px solid yellowgreen;
}

h1{
	font-size: 50px;
}

p{
	font-size: 25px;
	line-height: 50px;
}

table{
	height:auto;
	width:100%;
}

.game{
	width: 1000px;
	height:500px;
	top: 20px;
	border: 2px solid yellowgreen;
	margin: 20px auto 48px;
	position: relative;
}

.r{
	display: inline;
	left: 10px;
	top: 10px;
	position: absolute;
	height: 400px;
	width:300px;
}


.p{
	display: inline;
	left: 350px;
	position: absolute;
	height: 400px;
	width:300px;
}


.s{
	display: inline;
	left: 700px;
	position: absolute;
	height: 400px;
	width:300px;
}

.container {
	display: block; 
  	position: relative; 
 	width:100%;
}

button{
    background-color:yellowgreen;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 5mm;
    height:100px;
    width: 400px;
    text-align: center;
    cursor: pointer;
    color:black;
}


a{
	color: yellowgreen;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

button:hover{
    background-color: #f8f8f8;
    font-size: 5mm;
    box-shadow: 0.5px 0.5px 0.5px green;
    border: 2px solid green;
    border-radius: 8px;
    height:100px;
    text-align: center;
    cursor: pointer;
}



body{
    font-family: Butler, serif;
    display: block;
    margin: 0 auto;
    min-width: 980px;
    position: relative;
    background-color: #2f2f2f;
    color:white;
    padding: 0;
}



footer{
    width: 100%; 
    font-size: 14px;
    bottom: 0px;
    background-color: #130f0f;
    position: fixed;
    line-height: 40px;
    border-top: 1px solid #050505; 
    opacity: 60%;
}


