body{
    font-family: Butler, serif;
    display: flex;
	flex-flow: column wrap;
	overflow-x:hidden;
    background-color: #1a1a1d;
    font-size: 20px;
}

html {
	scroll-behavior: smooth;
  }

h1{
	width: 100%;
	font-size: 90% !important;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-family: 'Zen Dots', cursive;
	color: #C3073F ;
	background: url("/Images/logo-2.gif") no-repeat fixed center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	width: 100%;  
	height: 100vh;
	z-index: 100;
}

@media only screen and (min-width: 700px) {
	header{
		font-size: 64px;
	}
	.flip-card-back{
		font-size: 30px;
		line-height: 80px;
	}	
	.game-elements{
		margin:20px;
		}	
	.game-element{
		width:180px;
		height: 145px;
		cursor: pointer;
		border-radius: 50%;
	}
	.user{
		width: 33.33%;
		height: 100vh;
	}
	.scores{
		width: 33.33%;
		height: 100vh;
	}
	.game1{
		display: flex;
		flex-flow: row wrap;
		height:85vh;
	}
	.computer{
		width: 33.33%;
		height: 100vh;
	}
	.message{
		height: 20%;
	}
	.btn2{
		font-size: 0.6em;
		margin: 30px 0;
		padding: 14px 60px;
	}	
	.content{
		display: flex;
		flex-flow: row wrap;
	}
	.tab{
		width: 40%;
		margin: 20px;
		justify-content: left;
	}
	.profile_pic{
		width: 300px;
		border-radius: 30%;
		height: 400px;
	}
	.external_footer{
		width: 90px;
		height: 80px;
	}
}

@media only screen and (max-width: 600px) {
	header{
		font-size: 45px;
	}

	.flip-card-back{
		font-size: 20px;
		line-height: 50px;
	}
	.game-element{
		height: 100px;
		width:120px;
		border-radius: 50%;
	}
	.game1{
		display: flex;
		flex-flow: row wrap;
		height:30vh;
	}
	.user{
		width: 100%;
		height: 30vh;
	}
	.scores{
		width: 100%;
		height: 28vh;
	}
	.game-elements{
		margin:2px;
		}	
	.computer{
		width: 100%;
		height: 30vh;
	}
	h2{
		font-size: 18px;
		height: 5%;
	}
	.result_{
		font-size: 14px;
		height: 5%;
	}
	.message{
		height: 5%;
		font-size: 12px;
	}
	.btn2{
		font-size: 12px;
		padding: 8px 20px;
		}	
	.content{
		width: 80%;
		display: flex;
		flex-flow: column wrap;
	}
	.profile_pic{
		width: 250px;
		border-radius: 30%;
		height: 300px;
	}
	.external_footer{
		width: 90px;
		height: 80px;
	}
}

.external{
	height:20px;
	width:20px;
}

.header-name{ 
	margin: 1%;
	line-height: 80px;
	height: 40vh;
	text-align: center;
	width: 100%;
}

.header-metadata{

	margin: 1%;
	height: 20vh;
	text-align: center;
	font-size: 50%;
}

main{
    display: flex;
    width:100%;
	z-index: 1;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Zen Dots', cursive;
	color: #C3073F;
	background-color: #1a1a1d;
	height: 100vh;
	z-index: 100;
}

.flip-card{
	text-align: center;
	width: 100%;
	height: 100%;
}
  
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
.flip-card-front {
	background: url("/Images/logo-2.gif") no-repeat fixed center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #C3073F;
	display: flex;
  	align-items: center;
  	justify-content: center;
	font-size: 65px;
	
  }
  
.flip-card-back {
	background: transparent;
	color: #c3073f;
	transform: rotateY(180deg);
	display: flex;
	align-items: center;
  	justify-content: center;
  }

.game{
	display: flex;
	flex-flow: row wrap;
	width:100%;
	position: relative;
	background: url("/Images/logo-2.gif") no-repeat fixed center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 100vh;
}

.computer{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0px;
}

.user{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.scores{
	position: relative;
	display: flex;
	color: #c3073f;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background: #1a1a1d;
	text-align: center;
}

.score_button{
	margin: 0.5%;
	text-align: center;
	font-size: 100%;
}

.result_{
	width: 40%;
	text-align: center;
}

.message{
	width: 70%;
	text-align: center;
}

.computer-pointer{
	cursor:default;
}

h2{
	width: 100%;
	text-align: center;
}

.game1{
	width: 100%;
	justify-content: center;
	margin: 0 auto;
	align-content: center;
}

footer{
	display: flex;
	bottom:0;
    width:100%;
	justify-content: center;
	z-index: 1;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Zen Dots', cursive;
	color: #C3073F;
	background-color: #1a1a1d;
	height: 80vh;
}

.content{
	width: 80%;
	}

.btn{
	position: relative;
	display: block;
	color: yellowgreen;
	font-size: 0.6em;
	text-decoration: none;
	margin: 30px 0;
	border: 2px solid #C3073F;
	padding: 14px 60px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
  }

  .btn::before{
	background: #C3073F;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	transition: all 0.6s ease;
  }

.btn1::before{
	width: 100%;
	height: 0%;
	transform: translate(-50%,-50%) rotate(-45deg);
  }

.btn1:hover::before{
	height: 800%;
  }

.btn2{
	position: relative;
	color: yellowgreen;
	text-decoration: none;
	border: 2px solid #C3073F;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
  }

  .btn2::before{
	background: #C3073F;
	content: "";
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	transition: all 0.6s ease;
  }

  .modal {
	display: none; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	background-color: #1a1a1d;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%; 
  }
  
  .close {
	color: yellowgreen;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #C3073F;
	text-decoration: none;
	cursor: pointer;
  }

  .modalbtn{
	position: fixed;
	display: block;
	color: yellowgreen;
	font-size: 0.6em;
	text-decoration: none;
	margin: 30px 0;
	border: 2px solid #C3073F;
	padding: 14px 60px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
  }

  .modalbtn::before{
	background: #C3073F;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	transition: all 0.6s ease;
  }

.btn3::before{
	width: 100%;
	height: 0%;
	transform: translate(-50%,-50%) rotate(-45deg);
  }

.btn3:hover::before{
	height: 350%;
  }

a{
	text-decoration: none;
	color: #C3073F;
}

a:hover{
	text-decoration: underline;
}
